# Created by .ignore support plugin (hsz.mobi)
.idea/
.DS_Store/
node_modules/
target/
/.DS_Store
conf/.DS_Store
src/.DS_Store/
src/test/.DS_Store/
src/test/com/.DS_Store/
src/test/kobaltportal/.DS_Store/
src/test/kobaltportal/pages/.DS_Store/
package-lock.json
.DS_Store
.vscode/
dist/